.head
{
    width: 100vw;
    height: 15vh;
    background: #db7e44;
}
ul {
    background-color: #110f0f;
    list-style-type: none;
    margin : 0;
    padding : 0;
    width: 15%;
    overflow: hidden;
    background-color: #333;
    position: relative;
    left: 80%;
  }
  a{
    display: block;
    padding: 8px;
  }
li{
    float: left;
}
li a{
    display: block;
    color :white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.volunteer{
    margin-left: 45vw;
    padding-top: 4vh;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
background-image: url("https://media.licdn.com/dms/image/D5612AQG9kyNA_gJKQA/article-cover_image-shrink_720_1280/0/1654793377068?e=2147483647&v=beta&t=X4oj21kQQkDtBQW2_94Q0_9Y7tIhUFL69U9ltjkD9RY");
background-size: auto;
}